<link href="https://www.lg.com/_ncms/btb/packages/ltr.0d2bd7d4d44575793640.site.css" rel="stylesheet" type="text/css" />
<link href="https://www.lg.com/_ncms/btb/packages/ltr.2492afc7dc9ee0280621.support-shared.css" rel="stylesheet"
  type="text/css" />
<!-- @font-face의 url()은 lg.com 원본 대신 프로젝트 정적 파일 public/fonts/ 를 가리킴 (/fonts/...). -->
<style>
  @font-face {
    font-display: swap;
    font-family: LGEI Headline;
    font-style: normal;
    font-weight: 700;
    src: local("LGEI Headline Bold"), local("LGEIHeadline-Bold"), url(/fonts/LGEIHeadline-Bold.woff2) format("woff2"), url(/fonts/LGEIHeadline-Bold.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: LGEI Headline;
    font-style: normal;
    font-weight: 300;
    src: local("LGEI Headline Light"), local("LGEIHeadline-Light"), url(/fonts/LGEIHeadline-Light.woff2) format("woff2"), url(/fonts/LGEIHeadline-Light.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: LGEI Headline;
    font-style: normal;
    font-weight: 400;
    src: local("LGEI Headline Regular"), local("LGEIHeadline-Regular"), url(/fonts/LGEIHeadline-Regular.woff2) format("woff2"), url(/fonts/LGEIHeadline-Regular.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: LGEI Headline;
    font-style: normal;
    font-weight: 600;
    src: local("LGEI Headline Semibold"), local("LGEIHeadline-Semibold"), url(/fonts/LGEIHeadline-Semibold.woff2) format("woff2"), url(/fonts/LGEIHeadline-Semibold.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: LGEI Headline;
    font-style: normal;
    font-weight: 100;
    src: local("LGEI Headline Thin"), local("LGEIHeadline-Thin"), url(/fonts/LGEIHeadline-Thin.woff2) format("woff2"), url(/fonts/LGEIHeadline-Thin.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: LGEI Text;
    font-style: normal;
    font-weight: 700;
    src: local("LGEI Text Bold"), local("LGEIText-Bold"), url(/fonts/LGEIText-Bold.woff2) format("woff2"), url(/fonts/LGEIText-Bold.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: LGEI Text;
    font-style: normal;
    font-weight: 300;
    src: local("LGEI Text Light"), local("LGEIText-Light"), url(/fonts/LGEIText-Light.woff2) format("woff2"), url(/fonts/LGEIText-Light.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: LGEI Text;
    font-style: normal;
    font-weight: 400;
    src: local("LGEI Text Regular"), local("LGEIText-Regular"), url(/fonts/LGEIText-Regular.woff2) format("woff2"), url(/fonts/LGEIText-Regular.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: LGEI Text;
    font-style: normal;
    font-weight: 600;
    src: local("LGEI Text Semibold"), local("LGEIText-Semibold"), url(/fonts/LGEIText-SemiBold.woff2) format("woff2"), url(/fonts/LGEIText-Semibold.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: LG Smart UI;
    font-style: normal;
    font-weight: 700;
    src: local("LG Smart UI Bold"), local("LGSmartUI-Bold"), url(/fonts/LGSmartUI-Bold.woff2) format("woff2"), url(/fonts/LGSmartUI-Bold.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: LG Smart UI;
    font-style: normal;
    font-weight: 300;
    src: local("LG Smart UI Light"), local("LGSmartUI-Light"), url(/fonts/LGSmartUI-Light.woff2) format("woff2"), url(/fonts/LGSmartUI-Light.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: LG Smart UI;
    font-style: normal;
    font-weight: 400;
    src: local("LG Smart UI Regular"), local("LGSmartUI-Regular"), url(/fonts/LGSmartUI-Regular.woff2) format("woff2"), url(/fonts/LGSmartUI-Regular.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: LG Smart UI;
    font-style: normal;
    font-weight: 600;
    src: local("LG Smart UI SemiBold"), local("LGSmartUI-SemiBold"), url(/fonts/LGSmartUI-SemiBold.woff2) format("woff2"), url(/fonts/LGSmartUI-SemiBold.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: LG Smart;
    font-style: normal;
    font-weight: 700;
    src: local("☺"), url(/fonts/LG_Smart_Bold.woff2) format("woff2"), url(/fonts/LG_Smart_Bold.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: LG Smart;
    font-style: italic;
    font-weight: 700;
    src: local("☺"), url(/fonts/LG_Smart_Bold_Italic.woff2) format("woff2"), url(/fonts/LG_Smart_Bold_Italic.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: LG Smart;
    font-style: normal;
    font-weight: 300;
    src: local("☺"), url(/fonts/LG_Smart_Light.woff2) format("woff2"), url(/fonts/LG_Smart_Light.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: LG Smart;
    font-style: normal;
    font-weight: 400;
    src: local("☺"), url(/fonts/LG_Smart_Regular.woff2) format("woff2"), url(/fonts/LG_Smart_Regular.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: LG Smart;
    font-style: italic;
    font-weight: 400;
    src: local("☺"), url(/fonts/LG_Smart_Regular_Italic.woff2) format("woff2"), url(/fonts/LG_Smart_Regular_Italic.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: LG Smart;
    font-style: normal;
    font-weight: 600;
    src: local("☺"), url(/fonts/LG_Smart_SemiBold.woff2) format("woff2"), url(/fonts/LG_Smart_SemiBold.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: LG Smart RU;
    font-style: normal;
    font-weight: 700;
    src: local("☺"), url(/fonts/LG_Smart_Bold_RU.woff2) format("woff2"), url(/fonts/LG_Smart_Bold_RU.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: LG Smart RU;
    font-style: normal;
    font-weight: 300;
    src: local("☺"), url(/fonts/LG_Smart_Light_RU.woff2) format("woff2"), url(/fonts/LG_Smart_Light_RU.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: LG Smart RU;
    font-style: normal;
    font-weight: 400;
    src: local("☺"), url(/fonts/LG_Smart_Regular_RU.woff2) format("woff2"), url(/fonts/LG_Smart_Regular_RU.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: LG Smart RU;
    font-style: normal;
    font-weight: 600;
    src: local("☺"), url(/fonts/LG_Smart_SemiBold_RU.woff2) format("woff2"), url(/fonts/LG_Smart_SemiBold_RU.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 700;
    src: local("☺"), url(/fonts/iranyekanwebbold.woff2) format("woff2"), url(/fonts/iranyekanwebbold.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 300;
    src: local("☺"), url(/fonts/iranyekanweblight.woff2) format("woff2"), url(/fonts/iranyekanweblight.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 400;
    src: local("☺"), url(/fonts/iranyekanwebregular.woff2) format("woff2"), url(/fonts/iranyekanwebregular.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 600;
    src: local("☺"), url(/fonts/iranyekanwebmedium.woff2) format("woff2"), url(/fonts/iranyekanwebmedium.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: DS LG Smart Bold;
    font-style: normal;
    font-weight: 400;
    src: local("☺"), url(/fonts/LG_Smart_Bold.woff2) format("woff2"), url(/fonts/LG_Smart_Bold.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: DS LG Smart Bold;
    font-style: italic;
    font-weight: 400;
    src: local("☺"), url(/fonts/LG_Smart_Bold_Italic.woff2) format("woff2"), url(/fonts/LG_Smart_Bold_Italic.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: DS LG Smart Light;
    font-style: normal;
    font-weight: 400;
    src: local("☺"), url(/fonts/LG_Smart_Light.woff2) format("woff2"), url(/fonts/LG_Smart_Light.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: LG Smart_Global;
    font-style: normal;
    font-weight: 400;
    src: local("☺"), url(/fonts/LG_Smart_Regular.woff2) format("woff2"), url(/fonts/LG_Smart_Regular.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: DS LG Smart Italic;
    font-style: italic;
    font-weight: 400;
    src: local("☺"), url(/fonts/LG_Smart_Regular_Italic.woff2) format("woff2"), url(/fonts/LG_Smart_Regular_Italic.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: DS LG Smart SemiBold;
    font-style: normal;
    font-weight: 400;
    src: local("☺"), url(/fonts/LG_Smart_SemiBold.woff2) format("woff2"), url(/fonts/LG_Smart_SemiBold.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: DS LG Smart Bold RU;
    font-style: normal;
    font-weight: 400;
    src: local("☺"), url(/fonts/LG_Smart_Bold_RU.woff2) format("woff2"), url(/fonts/LG_Smart_Bold_RU.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: DS LG Smart Light RU;
    font-style: normal;
    font-weight: 400;
    src: local("☺"), url(/fonts/LG_Smart_Light_RU.woff2) format("woff2"), url(/fonts/LG_Smart_Light_RU.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: DS LG Smart RU;
    font-style: normal;
    font-weight: 400;
    src: local("☺"), url(/fonts/LG_Smart_Regular_RU.woff2) format("woff2"), url(/fonts/LG_Smart_Regular_RU.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: DS LG Smart SemiBold RU;
    font-style: normal;
    font-weight: 400;
    src: local("☺"), url(/fonts/LG_Smart_SemiBold_RU.woff2) format("woff2"), url(/fonts/LG_Smart_SemiBold_RU.woff) format("woff")
  }

  @font-face {
    font-display: swap;
    font-family: saudi_riyal;
    font-style: normal;
    font-weight: 400;
    src: local("☺"), url(/fonts/saudi_riyal.woff2) format("woff2"), url(/fonts/saudi_riyal.woff) format("woff")
  }

  .ST0002 {
    height: 98px
  }
</style>